<!DOCTYPE html>
<html>
<head>
	<link rel="icon" href="static/s.jpg">
	<title>create doc - siplah</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
	body {
		background-color: #f9f9f9;
	}
</style>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header col-sm-4">
				<a style="font-family: courier; font-size: 150%;" class="navbar-brand" href="http://localhost:5000/admin"><strong><i>[SIPLAH]</i></strong><small style="font-size: 50%;"><i>admin</i></small></a>
			</div>
		</div>
	</nav>

	<br><br><br><br><br>
	<div class="container">
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<div class="row">
					<div class="col-sm-12">
						<h3 align="center"><strong>Create Article</strong></h3>
					</div>
				</div>

				<br>

				{% if warning %}
				<div class="alert alert-warning alert-dismissable fade in">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
					<strong>Warning!</strong> {{ warning }}
				</div>
				{% endif %}
				{% if danger %}
				<div class="alert alert-danger alert-dismissable fade in">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
					<strong>Danger!</strong> {{ danger }}
				</div>
				{% endif %}

				<div class="well">
					<form action="{{ url_for('create') }}" method="post" enctype="multipart/form-data">
						<div class="form-group">
							<label>ID<span style="color: red;">*</span> :</label>
							<input type="text" name="id" maxlength="3" class="form-control" value="{{ id }}" required>
						</div>
						<div class="form-group">
							<label>Title<span style="color: red;">*</span> :</label>
							<input type="text" name="judul" maxlength="200" class="form-control" value="{{ judul }}" required>
						</div>
						<div class="form-group">
							<label>Keywords :</label>
							<div class="row">
								<span class="col-sm-4">
									<input type="text" name="kunci1" maxlength="20" class="form-control" value="{{ kunci1 }}">
								</span>
								<span class="col-sm-4">
									<input type="text" name="kunci2" maxlength="20" class="form-control" value="{{ kunci2 }}">
								</span>
								<span class="col-sm-4">
									<input type="text" name="kunci3" maxlength="20" class="form-control" value="{{ kunci3 }}">
								</span>
							</div>
						</div>
						<div class="form-group">
							<label >Content<span style="color: red;">*</span> :</label>
							<textarea rows="10" name="isi" class="form-control" required>{{ isi }}</textarea> 
						</div>
						<div class="form-group">
							<label>File Upload<span style="color: red;">*</span> :</label>
							<input type="file" name="file" required>
						</div>
						<input class="btn btn-success" type="submit" value="Submit">
					</form>
				</div>
				<br><br><br>
				<br><br><br>
			</div>
		</div>
	</div>
</body>
</html>