<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<p>{{ example }}</p>
	<!-- <script language="javascript"> 
		function toggle() {
			var ele1 = document.getElementById("toggleText1");
			var ele2 = document.getElementById("toggleText2");
			var text = document.getElementById("displayText");
			if(ele1.style.display == "block") {
				ele1.style.display = "none";
				ele2.style.display = "block";
				text.innerHTML = "show";
			}
			else {
				ele1.style.display = "block";
				ele2.style.display = "none";
				text.innerHTML = "hide";
			}
		} 
	</script>
	<!-- being a jack of all trades doesn't mean you're a master at none -->
	<!-- <p>{{ example }}</p> -->

	<!-- <a id="displayText" href="javascript:toggle();">show</a> <== click Here
	<div id="toggleText1" style="display: none"><h1>1</h1></div>
	<div id="toggleText2" ><h1>2</h1></div> --> -->
</body>
</html>

